<html>
    <head>
        <title>Movies</title>     
    </head>
    <body style="margin: 0px;">
        
        <%- include ("partials/Header"); -%>        
        <div class="container">
            <h1>This is the list of all the movies in our database.</h1><br>
            <div class="row">
                <% for(var i=0;i<movies.length;i++) { %>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/images/<%=movies[i].Image%>" alt="Card Image cap" style="width: 280px;height:190px">
                        <div class="card-body">
                            <h4 class="card-title"> <%= movies[i].title %>   </h4>
                            <p class="card-text"> 
                                <span> Lead Role: &nbsp; </span>
                                <h5>  <%= movies[i].LeadRole %> </h5> 
                            </p>
                            <p class="card-text"> 
                                <span> Appearance as:  </span>
                                <h5> <%= movies[i].Appearance %> </h5> 
                            </p>
                            <a href="/Details/<%= movies[i].id %>" class="btn btn-primary">Details</a>
                            <a href="/Details/Edit/<%= movies[i].id %>" class="btn btn-dark">Edit</a>
                            <a href="/Details/Delete/<%= movies[i].id %>" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
                <%  } %>
            </div>                         
        </div>
    </body>
    <br>
</html>
<%- include ("partials/Footer"); -%>   